<head>
  <style>
    body {
      font-family: times, Helvetica, Arial, sans-serif;
    }
  </style>
</head>
<div class="educations">
  <h2>Educations</h2>
  <dt>Georgia Institute of Technology (<dc>2019 - Present</dc>) </dt> <img src="georgia_tech.png" width="160" style="float:right; position:relative;right:10px;top:-30px" > 
    <dd><b>Ph.D.</b> in Computational Science and Engineering</dd>
    <dd><b>GPA</b>: 4.00/4.00</dd>
    <dd><b>Thesis Topic</b>: Towards Efficiently and Effectively Harnessing Large Pre-trained Models via Data-centric Lens. </dd>
    <!-- <dd><b>Research Focus</b>: Large Language Models, Active/Interactive Learning, .</dd> -->
    <dd><b>Advisor</b>: Prof. Chao Zhang</dd>
    <p></p>
  <dt>Tsinghua University (<dc>2015 - 2019</dc>) </dt> <img src="tsinghua.png" width="140" style="float:right; position:relative;right:10px;top:-20px" > 
    <dd><b>B.Eng.</b> in Electronic Engineering</dd>
    <dd><b>GPA</b>: 3.87/4.00 (Outstanding Graduate)</dd>
    <dd><b>Research Focus</b>: Spatio-temporal Data Mining [<a href="https://dl.acm.org/doi/abs/10.1145/3308558.3313453">WWW 2019</a>, <a href="https://dl.acm.org/doi/10.1145/3411817">UbiComp 2020</a>], Recommender Systems [<a href="https://dl.acm.org/doi/10.1145/3314398">UbiComp 2019</a>].</dd>
    <dd><b>Advisor</b>: Prof. Yong Li</dd>
</dl>
</div><br>
