
<div class="Industrial Experience">
  <h2>Industrial Experience</h2>
     <dl>
    <dt>Google Research (May 2023 - Aug 2023) </dt> <img src="Google.png" width="190" style="float:right; position:relative;right:10px;top:-15px" > 
    <dd>Research Intern, News Understanding Group</dd>
    <dd><b>Host</b>: Jiaming Shen, <b>Manager</b>: Jialu Liu</dd>
    <dd><b>Topic</b>: Large Language Model In-context Learning.</dd>
    <p></p>
  <dt>Microsoft Research (May 2021 - Aug 2021) </dt> <img src="microsoft.png" width="190" style="float:right; position:relative;right:10px;top:-10px" > 
    <dd>Research Intern, Productivity and Intelligence Group</dd>
    <dd><b>Mentor</b>: Chenyan Xiong, <b>Manager</b>: Arnold Overwijk</dd>
    <dd><b>Topic</b>: Zero-shot Dense Text Retrieval [<a href="https://aclanthology.org/2022.emnlp-main.95.pdf"><b>EMNLP 2022</b></a>].</dd>
    <p></p>
  <dt>IQVIA (May 2020 - Aug 2020)</dt> <img src="iqvia.png" width="190" style="float:right; position:relative;right:10px;top:-5px" > 
    <dd>Research Intern, Analytics Center of Excellence</dd>
    <dd><b>Mentor</b>: Cao (Danica) Xiao</dd>
    <dd><b>Topic</b>: Knowledge-enhanced Drug Interaction Prediction [<a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btab207/6189090"><b>Bioinformatics 2021</b></a>].</dd>
</dl>
</div><br>
