
<div class="Industrial Experience">
  <h2>Industrial Experience</h2>
  <dl>
    <dt>Meta (May 2024 - Aug 2024)</dt>
    <dd>
      <img src="Meta.png" width="190" style="float:right; position:relative; right:-20px; top:-30px;">
      Research Intern, GenAI (Llama Post-training Team)
    </dd>
    <dd><b>Host</b>: Rui Hou, <b>Manager</b>: Melanie Kambadur</dd>
    <dd><b>Topic</b>: Self-Critiquing Reward Models [<a href=""><b>Preprint</b></a>].</dd>
    <br>

    <dt>NVIDIA (Jan 2024 - May 2024)</dt>
    <dd>
      <img src="NVIDIA.png" width="190" style="float:right; position:relative; right:-20px; top:-30px;">
      Research Intern, Applied Deep Learning Research Group
    </dd>
    <dd><b>Host</b>: Wei Ping, <b>Manager</b>: Mohammad Shoeybi</dd>
    <dd><b>Topic</b>: LLM Instruction Fine-tuning for Zero-shot Retrieval-Augmented Generation [<a href="https://arxiv.org/abs/2407.02485"><b>NeurIPS 2024</b></a>].</dd>
    <br>

    <dt>Google Research (May 2023 - Aug 2023)</dt>
    <dd>
      <img src="Google.png" width="190" style="float:right; position:relative; right:-20px; top:-5px;">
      Research Intern, News Understanding Group
    </dd>
    <dd><b>Host</b>: Jiaming Shen, <b>Manager</b>: Jialu Liu</dd>
    <dd><b>Topic</b>: LLM In-context Learning with Rationales [<a href="https://arxiv.org/abs/2311.07099"><b>ACL 2024</b></a>].</dd>
    <br>

    <dt>Microsoft Research (May 2021 - Aug 2021)</dt>
    <dd>
      <img src="microsoft.png" width="190" style="float:right; position:relative; right:-20px; top:5px;">
      Research Intern, Productivity and Intelligence Group
    </dd>
    <dd><b>Mentor</b>: Chenyan Xiong, <b>Manager</b>: Arnold Overwijk</dd>
    <dd><b>Topic</b>: Zero-shot Dense Text Retrieval [<a href="https://aclanthology.org/2022.emnlp-main.95.pdf"><b>EMNLP 2022</b></a>].</dd>
    <br>

    <dt>IQVIA (May 2020 - Aug 2020)</dt>
    <dd>
      <img src="iqvia.png" width="190" style="float:right; position:relative; right:-20px; top:-0px;">
      Research Intern, Analytics Center of Excellence
    </dd>
    <dd><b>Mentor</b>: Cao (Danica) Xiao</dd>
    <dd><b>Topic</b>: Knowledge-enhanced Drug Interaction Prediction [<a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btab207/6189090"><b>Bioinformatics 2021</b></a>].</dd>
  </dl>
</div>

<!-- <div class="Industrial Experience">
  <h2>Industrial Experience</h2>
     <dl>
    <dt>Meta (May 2024 - Aug 2024) </dt> <img src="NVIDIA.png" width="190" style="float:right; position:relative;right:-20px;top:-115px" > 
    <dd>Research Intern, Generative AI (GenAI) Language Team</dd>
    <dd><b>Host</b>: Rui Hou</dd>
    <p></p>
    <dt>NVIDIA (Jan 2024 - May 2024) </dt> <img src="NVIDIA.png" width="190" style="float:right; position:relative;right:-20px;top:-25px" > 
    <dd>Research Intern, Applied Deep Learning Research Group</dd>
    <dd><b>Host</b>: Wei Ping, <b>Manager</b>: Mohammad Shoeybi</dd>
    <dd><b>Topic</b>: Fine-tuning Large Language Model for Retrieval-Augmented Generation [<a href=""><b>arXiv preprint</b></a>].</dd>
    <p></p>
    <dt>Google Research (May 2023 - Aug 2023) </dt> <img src="Google.png" width="190" style="float:right; position:relative;right:-20px;top:-5px" > 
    <dd>Research Intern, News Understanding Group</dd>
    <dd><b>Host</b>: Jiaming Shen, <b>Manager</b>: Jialu Liu</dd>
    <dd><b>Topic</b>: Large Language Model In-context Learning [<a href="https://arxiv.org/abs/2311.07099"><b>ACL 2024</b></a>].</dd>
    <p></p>
  <dt>Microsoft Research (May 2021 - Aug 2021) </dt> <img src="microsoft.png" width="190" style="float:right; position:relative;right:-20px;top:+5px" > 
    <dd>Research Intern, Productivity and Intelligence Group</dd>
    <dd><b>Mentor</b>: Chenyan Xiong, <b>Manager</b>: Arnold Overwijk</dd>
    <dd><b>Topic</b>: Zero-shot Dense Text Retrieval [<a href="https://aclanthology.org/2022.emnlp-main.95.pdf"><b>EMNLP 2022</b></a>].</dd>
    <p></p>
  <dt>IQVIA (May 2020 - Aug 2020)</dt> <img src="iqvia.png" width="190" style="float:right; position:relative;right:-20px;top:-5px" > 
    <dd>Research Intern, Analytics Center of Excellence</dd>
    <dd><b>Mentor</b>: Cao (Danica) Xiao</dd>
    <dd><b>Topic</b>: Knowledge-enhanced Drug Interaction Prediction [<a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btab207/6189090"><b>Bioinformatics 2021</b></a>].</dd>
</dl>
</div><br> -->
