---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

p {
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 16px;
}

.profile {
  font-family: Helvetica, sans-serif, sans-serif;
  margin-left: 1rem;
  width: 100%;
}

.a {
  font-family: Helvetica, sans-serif, sans-serif;
  margin-left: 1rem;
  width: 100%;
}
// Dimensions
$max-content-width: {{site.max_width}};


@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
